<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="app.component.css">

  <title>Dashboard</title>
</head>

<body>
<header>
  <div class="container">
    <input type="checkbox" name="" id="check">

    <div class="logo-container">
      <h3 class="logo">Data<span> Analaytics</span></h3>
    </div>

    <div class="nav-btn">
      <div class="nav-links">
        <ul>
          <li class="nav-link" style="--i: .6s">
            <a [routerLink]="'/'" class="nav-btn">Home</a>
          </li>
          <li class="nav-link" style="--i: .85s">
            <a href="#">All Queries<i class="fas fa-caret-down"></i></a>
            <div class="dropdown">
              <ul>
                <li class="dropdown-link">
                  <a [routerLink]="'1'" class="dropdown-link">Query 1</a>
                </li>
                <li class="dropdown-link">
                  <a [routerLink]="'my-com'" class="dropdown-link">Query 1-District</a>
                </li>
                <li class="dropdown-link">
                  <a [routerLink]="'2'" class="dropdown-link">Query 2</a>
                </li>
                <li class="dropdown-link">
                  <a [routerLink]="'3'" class="dropdown-link">Query 3</a>
                </li>
                <li class="dropdown-link">
                  <a [routerLink]="'4'" class="dropdown-link">Query 4</a>
                </li>
                <li class="dropdown-link">
                  <a [routerLink]="'5'" class="dropdown-link">Query 5</a>
                </li>
                <li class="dropdown-link">
                  <a [routerLink]="'6'" class="dropdown-link">Query 6</a>
                </li>
                <li class="dropdown-link">
                  <a [routerLink]="'7'" class="dropdown-link">Query 7</a>
                </li>
                <li class="dropdown-link">
                  <a [routerLink]="'8'" class="dropdown-link">Query 8</a>
                </li>
                <li class="dropdown-link">
                  <a [routerLink]="'9'" class="dropdown-link">Query 9</a>
                </li>
                <li class="dropdown-link">
                  <a [routerLink]="'10'" class="dropdown-link">Query 10</a>
                </li>
                <div class="arrow"></div>
              </ul>
            </div>
          </li>
          <li class="nav-link" style="--i: 1.1s">
            <a href="#">All Analaytics<i class="fas fa-caret-down"></i></a>
            <div class="dropdown">
              <ul>
                <li class="dropdown-link">
                  <a [routerLink]="'a1a'" class="dropdown-link">Analytics 1</a>
                </li>
                <li class="dropdown-link">
                  <a [routerLink]="'a1b'" class="dropdown-link">Analytics 2</a>
                </li>
                <li class="dropdown-link">
                  <a [routerLink]="'a2a'" class="dropdown-link">Analytics 1</a>
                </li>
                <li class="dropdown-link">
                  <a [routerLink]="'a2b'" class="dropdown-link">Analytics 3</a>
                </li>
                <li class="dropdown-link">
                  <a [routerLink]="'a3a'" class="dropdown-link">Analytics 1</a>
                </li>
                <li class="dropdown-link">
                  <a [routerLink]="'a3b'" class="dropdown-link">Analytics 2</a>
                </li>
                <li class="dropdown-link">
                  <a [routerLink]="'a4a'" class="dropdown-link">Analytics 1</a>
                </li>
                <li class="dropdown-link">
                  <a [routerLink]="'a4b'" class="dropdown-link">Analytics 2</a>
                </li>
                <li class="dropdown-link">
                  <a [routerLink]="'a5a'" class="dropdown-link">Analytics 1</a>
                </li>
                <div class="arrow"></div>
              </ul>
            </div>
          </li>
          <li class="nav-link" style="--i: 1.35s">
            <a href="#">About</a>
          </li>
        </ul>
      </div>

      <div class="log-sign" style="--i: 1.8s">
        <a href="#" class="btn transparent">Twtter</a>
        <a href="#" class="btn solid">Facebook</a>
      </div>
    </div>


    <div class="hamburger-menu-container">
      <div class="hamburger-menu">
        <div></div>
      </div>
    </div>
  </div>
</header>
<main>
  <section>
    <div class="overlay"></div>
    <router-outlet></router-outlet>
  </section>
</main>
</body>
<
</html>
